//Базовый шрифт
$base-font-stack: 'PT Sans Narrow', 'Arial', sans-serif;

//Цвета
$colors: (
  'white': #ffffff,
  'black': #000000,
  'inner-white': #f9f6f3,
  'btn-ffilter': #663d15,
  'nav': #242424,
  'index-column': #f8f5f2,
  'gallery': #cccccc,
  'appointment': #663d15,
  'breadcrumbs-current': #aba9a7,
  'catalog-item': #f8f8f8,
  'price': #e5e5e5,
  'prod-article': #aeaeae,
  'footer': #212121
);

$shadow: (
  'catalog': 0 0 10px rgba(0, 0, 0, 0.1),
  'product-photo': 0 0 10px 2px rgba(0, 0, 0, 0.1)
);

@function color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  }
  @warn "Unknown `#{$key}` in $colors.";
  @return null;
}
