.button {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;

  font: inherit;
  text-align: center;
  color: color('white');
  vertical-align: middle;
  text-transform: uppercase;

  background-color: color('black');
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: color('btn-ffilter');
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: color('black');
}

gallery-button {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-button-back {
  left: 0;
}

.gallery-button-next {
  right: 0;
}
