body {
  font-family: $base-font-stack;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: color('white');
  text-transform: uppercase;

  background-color: color('black');
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}
