.filters {
  width: 180px;
}

.filter {
  fieldset {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    border: none;
  }
  fieldset:first-child {
    margin-bottom: 35px;
  }
  legend {
    margin-bottom: 26px;

    font-size: 24px;
    line-height: 30px;
  }
  ul {
    padding: 0;
    margin: 0;

    list-style: none;
    line-height: 18px;
  }
  &-option {
    margin-bottom: 19px;
    padding-left: 45px;

    label {
      position: relative;
      display: block;

      cursor: pointer;
      user-select: none;
    }
  }

}
/*.filter fieldset:first-child {
  margin-bottom: 35px;
}*/

/*.filter legend {
  margin-bottom: 26px;

  font-size: 24px;
  line-height: 30px;
}*/

/*.filter ul {
  padding: 0;
  margin: 0;

  list-style: none;
  line-height: 18px;
}*/

/*.filter-option {
  margin-bottom: 19px;
  padding-left: 45px;
}*/

/*.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}*/

.filter-input {
  &:hover + label,
  &:focus + label {
    color: #663d15;
  }
  &:disabled + label {
    color: #000000;

    opacity: 0.5;
  }
  &-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
  }
  &-checkbox:checked + label::after {
    content: "";

    position: absolute;
    top: 4px;
    left: -38px;

    width: 12px;
    height: 12px;

    background-image: url("../img/cross.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  &-radio + label::before {
    content: "";

    position: absolute;
    left: -42px;
    top: -1px;

    width: 16px;
    height: 16px;

    border: 2px solid #000000;
    border-radius: 50%;
  }
  &-radio:checked + label::after {
    content: "";

    position: absolute;
    top: 5px;
    left: -36px;

    width: 8px;
    height: 8px;

    background-color: #000000;
    border-radius: 50%;
  }
}


/*.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}*/

/*.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
}*/

/*.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 4px;
  left: -38px;

  width: 12px;
  height: 12px;

  background-image: url("img/cross.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}*/

/*.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;

  border: 2px solid #000000;
  border-radius: 50%;
}*/

/*.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}*/

/*.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -36px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}*/

.catalog {
  width: 700px;
  &-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 25px;

    list-style: none;
  }
  &-item {
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;

    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }
    a {
      display: flex;
      flex-direction: column;

      color: #000000;
    }
    h3 {
      order: 1;
      margin-top: 17px;
      margin-bottom: 12px;
      margin-left: 16px;
      margin-right: 15px;

      font-size: 14px;
      line-height: 18px;
    }
    &-image {
      width: 220px;
      height: 165px;
      margin: 0;
    }
    &-price {
      display: flex;
      margin: 15px;
      margin-top: 0;
      b {
        width: 112px;
        padding: 13px 25px 11px;

        font-size: 14px;
        line-height: 20px;
        text-align: center;

        background-color: #e5e5e5;
      }
      .button {
        width: 50px;
        padding: 13px 18px 11px;
        margin-right: 0;

        line-height: 20px;
        color: #ffffff;
      }
    }
  }
  &-category {
    display: block;

    text-transform: none;
  }
}


/*.catalog-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  list-style: none;
}*/

/*.catalog-item {
  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

/*.catalog-item:nth-child(3n) {
  margin-right: 0;
}*/

/*.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}*/

/*.catalog-item a {
  display: flex;
  flex-direction: column;

  color: #000000;
}*/

/*.catalog-item h3 {
  order: 1;
  margin-top: 17px;
  margin-bottom: 12px;
  margin-left: 16px;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
}*/

/*.catalog-category {
  display: block;

  text-transform: none;
}*/

/*.catalog-item-image {
  width: 220px;
  height: 165px;
  margin: 0;
}*/

/*.catalog-item-price {
  display: flex;
  margin: 15px;
  margin-top: 0;
}*/

/*.catalog-item-price b {
  width: 112px;
  padding: 13px 25px 11px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  background-color: #e5e5e5;
}*/

/*.catalog-item-price .button {
  width: 50px;
  padding: 13px 18px 11px;
  margin-right: 0;

  line-height: 20px;
  color: #ffffff;
}*/


.pagination-list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;

  list-style: none;
  .pagination-item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
    a {
      display: block;
      padding: 10px 19px;

      color: #ffffff;

      background-color: #000000;

      &:hover,
      &:focus,
      &:active {
        background-color: #663d15;
      }
    }
  }

}

/*.pagination-item {
  margin-right: 5px;
}*/

/*.pagination-item:last-child {
  margin-right: 0;
}*/

/*.pagination-item a {
  display: block;
  padding: 10px 19px;

  color: #ffffff;

  background-color: #000000;
}*/

/*.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}*/

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;

  &:hover,
  &:focus,
  &:active {
    color: #000000;

    background-color: #ffffff;
  }
}

/*.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}*/
